@use '../../../iit-szg-variables.scss' as variables;

markdown {
  h2 {
    margin-top: 32px;
  }

  ol {
    li {
      margin-bottom: 8px;
    }

    ul {
      margin: 8px 0 16px;
    }
  }

  ul ul {
    margin: 8px 0 16px;
  }

  img {
    margin: 24px 0;
    max-width: 100%;
  }

  li pre {
    margin-bottom: 0;
  }

  pre {
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 24px;
    overflow-x: auto;
    padding: 16px;
    position: relative;
    white-space: pre-wrap;

    &[data-label]:after {
      border-top-right-radius: 8px;
      color: #f5f5f5;
      content: attr(data-label);
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0.7;
      padding: 2px 24px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  pre.prettyprint {
    .str,
    .atv {
      color: #027243;
    }

    .kwd,
    .tag {
      color: #20639a;
    }

    .com {
      color: #686565;
      font-style: italic;
    }

    .lit {
      color: #7f0000;
    }

    .pun,
    .opn,
    .clo,
    .pln {
      color: #515151;
    }

    .typ,
    .atn,
    .dec,
    .var {
      color: #c7250f;
    }
  }

  table {
    border-spacing: 0;

    @media only screen and (max-width: 820px) {
      word-break: break-word;
    }
  }

  table thead th {
    border-bottom: 2px solid #ddd;

    &:not([align]) {
      text-align: left;
    }
  }

  table tbody tr td {
    border-bottom: 1px solid #ddd;
  }

  table tbody tr {
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: variables.$background-color;
    }
  }

  table th,
  table td {
    padding: 8px;
  }
}
