<ng-container *ngIf="labContent$ | async as labContent; else contentLoader">
  <mat-card *ngIf="lab$ | async as lab">

    <mat-card-title *ngIf="lab.index > 0; else labTitleWithoutIndex" i18n="lab.title|The title of the lab@@labTitle">Lab {{ lab.index }}: {{ lab.titles.long }}</mat-card-title>
    <ng-template #labTitleWithoutIndex>
      <mat-card-title>{{ lab.titles.long }}</mat-card-title>
    </ng-template>

    <mat-card-content>
      <markdown [data]="labContent" (ready)="onMarkdownReady()"></markdown>
    </mat-card-content>

  </mat-card>
</ng-container>

<ng-template #contentLoader>
  <mat-spinner></mat-spinner>
</ng-template>
