<h2 class="page-title">{{ course().name }}</h2>

<table mat-table [dataSource]="course().labs" class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let lab">
      @if (lab.index > 0) {
        {{ lab.index }}
      }
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th
      mat-header-cell
      *matHeaderCellDef
      i18n="course.table.header.title|The header of the title column on the course page@@courseTableHeaderTitle"
    >
      Title
    </th>
    <td mat-cell *matCellDef="let lab">{{ lab.titles.long }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let lab; columns: columns" (click)="navigateToLab(lab)"></tr>
</table>
