@use '../../../workshop-variables.scss' as variables;

table {
  width: 100%;
}

tr[mat-row] {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: variables.$background-color;
  }
}
