<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button
      *ngIf="mobileQuery.matches"
      @hamburgerMenuButtonTrigger
      class="hamburger-menu-icon-button"
      mat-icon-button
      (click)="toggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-title" [class.is-mobile]="mobileQuery.matches">
      <a routerLink="/" class="app-title-link">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 156 44"
          width="127"
          height="36"
          class="app-logo"
          aria-labelledby="application-title"
        >
          <title id="application-title" i18n="app.title|The title of the application@@appTitle">IIT-SZG</title>
          <path
            d="M74,37h0a5,5,0,0,0,5,5H89a5,5,0,0,0,5-5V27a5,5,0,0,0-5-5H79a5,5,0,0,1-5-5V7a5,5,0,0,1,5-5h41.31A2,2,0,0,1,122,5.09L100,38.91A2,2,0,0,0,101.69,42H141"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <path
            d="M154,7h0a5,5,0,0,0-5-5H133a5,5,0,0,0-5,5V37a5,5,0,0,0,5,5h16a5,5,0,0,0,5-5V26a5,5,0,0,0-5-5h-8"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            x1="2"
            y1="2"
            x2="2"
            y2="42"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            class="a"
            x1="12"
            y1="2"
            x2="12"
            y2="42"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            x1="37"
            y1="2"
            x2="37"
            y2="42"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            x1="22"
            y1="2"
            x2="52"
            y2="2"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
          <line
            x1="56"
            y1="22"
            x2="66"
            y2="22"
            fill="none"
            stroke="#2771bb"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="4"
          />
        </svg>
      </a>
    </h1>

    <mat-select
      [(value)]="selectedLocale"
      (selectionChange)="onSelectedLanguageChanged($event)"
      class="language-selector"
      [ngClass]="'language-selector-selected-' + selectedLocale"
    >
      <mat-option *ngFor="let locale of locales" [value]="locale">
        <img
          [src]="'assets/flags/' + locale + '.png'"
          [alt]="removeHtmlComments(alt.innerHTML)"
          width="32"
          height="32"
        />
        <span
          #alt
          class="sr-only"
          i18n="app.languageSelector|The selected language in the language selector@@appLanguageSelector"
        >
          {locale, select, hu {Hungarian} en {English} other {}}
        </span>
      </mat-option>
    </mat-select>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list class="home-page-link">
        <mat-list-item
          class="main-menu-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeSidenavOnMobile()"
        >
          <mat-icon matListIcon>home</mat-icon>
          <a matLine i18n="app.menu.home|The label of the home menu item@@appMenuHome"> Home </a>
        </mat-list-item>
      </mat-nav-list>

      <mat-accordion>
        <mat-expansion-panel
          *ngFor="let course of courses$ | async"
          [expanded]="course.id === (activeCourseId$ | async)"
        >
          <mat-expansion-panel-header>
            <mat-panel-title class="main-menu-link">
              {{ course.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-nav-list class="lab-list">
            <a
              mat-list-item
              [routerLink]="['/courses', course.id]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              i18n="app.course.index|The label of the course index pages@@appCourseIndex"
              (click)="closeSidenavOnMobile()"
            >
              Index
            </a>

            <a
              mat-list-item
              [routerLink]="['/courses', course.id, 'labs', lab.index]"
              routerLinkActive="active"
              (click)="closeSidenavOnMobile()"
              *ngFor="let lab of course.labs"
            >
              {{ lab.titles.short || lab.titles.long }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content appScrollContentAfterNavigation>
      <div class="content-wrapper">
        <div class="content">
          <router-outlet></router-outlet>
        </div>

        <footer i18n="app.footer|The footer of the application@@appFooter">© Gabor Szabo {{ currentYear }}</footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
