<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary">
    <button *ngIf="mobileQuery.matches" @hamburgerMenuButtonTrigger class="hamburger-menu-icon-button" mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>

    <h1 class="app-title" [class.is-mobile]="mobileQuery.matches" i18n="app.title|The title of the application@@appTitle">IIT</h1>

    <mat-select [(value)]="selectedLocale" (selectionChange)="onSelectedLanguageChanged($event)" class="language-selector" [ngClass]="'language-selector-selected-' + selectedLocale">
      <mat-option *ngFor="let locale of locales" [value]="locale">
        <img
          [src]="'assets/flags/' + locale + '.png'"
          [alt]="removeHtmlComments(alt.innerHTML)"
        >
        <span #alt class="hidden" i18n="app.languageSelector|The selected language in the language selector@@appLanguageSelector">{locale, select, hu {Hungarian} en {English} other {}}</span>
      </mat-option>
    </mat-select>
  </mat-toolbar>

  <mat-sidenav-container [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidenavOnMobile()">
          <mat-icon matListIcon>home</mat-icon>
          <a matLine i18n="app.menu.home|The label of the home menu item@@appMenuHome">Home</a>
        </mat-list-item>

        <div *ngFor="let course of courses$ | async" class="course-menu">
          <h3 matSubheader>{{ course.name }}</h3>
          <a mat-list-item i18n="app.course.index|The label of the course index pages@@appCourseIndex" [routerLink]="['/courses', course.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="closeSidenavOnMobile()">Index</a>
          <a *ngFor="let lab of course.labs" mat-list-item [routerLink]="['/courses', course.id, 'labs', lab.index]" routerLinkActive="active" (click)="closeSidenavOnMobile()">{{ lab.title }}</a>
          <mat-divider></mat-divider>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-wrapper">
        <div class="content">
          <router-outlet></router-outlet>
        </div>

        <footer i18n="app.footer|The footer of the application@@appFooter">© Gabor Szabo {{ currentYear }}</footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
