.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.is-mobile mat-toolbar {
  position: fixed;
  z-index: 2;
}

h1 {
  flex: 1;
  margin-left: 8px;
}

mat-sidenav {
  width: 200px;
}

mat-sidenav-container {
  flex: 1;

  .is-mobile & {
    flex: 1 0 auto;
  }
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: smaller;
  color: #aaa;
}

.course-menu {
  margin-top: 20px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 90%;
  margin: 20px auto 0 auto;
}

footer {
  padding-bottom: 25px;
}

.active {
  background: #f5f5f5;
}

.language-selector {
  width: 60px;
}

.hidden {
  display: none;
}

.hamburger-menu-icon-button {
  position: absolute;
  will-change: transform;
}

.app-title {
  transition: transform 500ms;
  will-change: transform;

  &.is-mobile {
    transform: translateX(40px);
  }
}

.language-selector-selected-en {
  background: url('../assets/flags/en.png');
  background-repeat: no-repeat;
}

.language-selector-selected-hu {
  background: url('../assets/flags/hu.png');
  background-repeat: no-repeat;
}
