@use '../workshop-variables.scss' as variables;

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

// Toolbar

.is-mobile mat-toolbar {
  position: fixed;
  z-index: 2;
}

.app-title {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-left: 8px;
  transition: transform 500ms;
  will-change: transform;

  &.is-mobile {
    transform: translateX(48px);
  }
}

.app-title-link {
  align-items: center;
  color: white;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none;
}

.app-logo {
  &:hover {
    filter: drop-shadow(0.1px 0 0.1px variables.$primary-color-lighter)
      drop-shadow(-0.1px 0 0.1px variables.$primary-color-lighter)
      drop-shadow(0 -0.1px 0.1px variables.$primary-color-lighter)
      drop-shadow(0 0.1px 0.1px variables.$primary-color-lighter);
  }
}

.language-selector {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 32px;
  width: 64px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.language-selector-selected-en {
  background-image: url('../assets/flags/en.png');
  background-repeat: no-repeat;
}

.language-selector-selected-hu {
  background-image: url('../assets/flags/hu.png');
  background-repeat: no-repeat;
}

.hamburger-menu-icon-button {
  position: absolute;
  will-change: transform;
}

// Sidenav

mat-sidenav {
  width: 200px;
}

mat-sidenav-container {
  flex: 1;

  .is-mobile & {
    flex: 1 0 auto;
  }
}

.home-page-link {
  margin-bottom: 16px;
}

mat-expansion-panel mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']),
mat-expansion-panel mat-expansion-panel-header.cdk-program-focused:not([aria-disabled='true']),
mat-expansion-panel:not(.mat-expanded) mat-expansion-panel-header:hover:not([aria-disabled='true']) {
  background-color: variables.$background-color-menu;
}

.lab-list {
  margin: 0 -24px;
}

.mat-list-item {
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: variables.$background-color;
  }
}

a.mat-list-item.active,
mat-list-item.active {
  background-color: variables.$background-color-menu;
  color: variables.$primary-color;

  &:hover,
  &:focus {
    background-color: rgba(#5296db, 0.4);
  }
}

// Content

mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  flex: 1;
  width: 90%;
  margin: 20px auto 0 auto;
}

// Footer

footer {
  text-align: center;
  margin-top: 48px;
  font-size: smaller;
  color: #aaa;
  padding-bottom: 24px;
}
