@use '../iit-szg-variables.scss' as variables;

mat-accordion mat-nav-list.lab-list a.mat-mdc-list-item {
  span.mdc-list-item__content {
    padding: 0;
    padding-left: 8px;
  }
}

.language-selector-option {
  justify-content: center !important;
}

ul li {
  margin-bottom: 4px;
}

a {
  color: variables.$secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
