@use './workshop-theme.scss';
@use './app/lab/lab/lab.global-styles.scss';
@use './app/app.global-styles.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Language selector
.mat-option,
.mat-option .mat-option-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mat-select-value-text {
  display: none;
}
