<mat-card>
  <mat-card-title i18n="home.title|The title of the home page@@homeTitle"> Home </mat-card-title>

  <mat-card-content>
    <p i18n="home.parapgrahp1|The first paragraph of the home page@@homeParagraph1">
      This application is a collection of courses of various topics. Each course contains a number of labs.
    </p>

    <p i18n="home.parapgrahp2|The second paragraph of the home page@@homeParagraph2">
      The labs contain exercises for the given topic, and optionally a starter project that you can open in an IDE and
      work on it during the lab.
    </p>
  </mat-card-content>
</mat-card>
